@model m2.Models.ProfileModel


@{
    ViewData["title"] = "Profile";

}


<div class="profile-page">
    <h1>User profile</h1>



    <br>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span style="color:red" asp-validation-for="Name"></span>

        <br>

        <label asp-for="Age"></label>
        <input asp-for="Age">
        <span style="color:red" asp-validation-for="Age"></span>
        <br>

        <label asp-for="Work"></label>
        <input asp-for="Work">
        <span style="color:red" asp-validation-for="Work"></span>

        <br>
        <label asp-for="City"></label>
        <input asp-for="City">
        <span style="color:red" asp-validation-for="City"></span>
        <br>

        <div>
            <label>Gender:</label>
            <input type="radio" name="gender" value="Male" /> Male
            <input type="radio" name="gender" value="Female" /> Female

        </div>
        <br>
        <label>Education Level:</label>
        <select name="education">
            <option value="High School">High School</option>
            <option value="Diploma">Diploma</option>
            <option value="Bachelor">Bachelor</option>
            <option value="Masters or Higher">Masters or Higher</option>
        </select>
        <br>
        <br>

        <div>
            <label>Goals in the next 5 years</label><br>
            <input type="checkbox" name="goalsArray" value="Studying"> Learning<br>
            <input type="checkbox" name="goalsArray" value="Working"> Working<br>
            <input type="checkbox" name="goalsArray" value="Cooking"> Travelling<br>
        </div>

        <!-- Add more checkboxes for other categories as needed -->



        <button type="submit">Submit</button>
    </form>


    @if (Model != null)
    {
        <div class="user-info-wrapper">
            <h2>Name: @Model.Name </h2>

            <h2>Age: @Model.Age </h2>

            <h2>Work:@Model.Work </h2>

            <h2>City: @Model.City </h2>

            <h2>Gender: @ViewBag.gender </h2>

            <h2>Education: @ViewBag.education </h2>

            <h2>
                Goals: @foreach (string goal in ViewBag.goalsArray)
                {
                    <span>@goal</span>
                }
            </h2>



        </div>


    }

    else
    {
        <h1>No data has been received from the form</h1>
    }


</div>
