@{
       ViewData["title"] = "Users";
       var users = ViewBag.ProfileListSession;

}

<div class="users-page">
       <h1>Users from session
              <br>
              <br>
         
              
       
              
       <table>
         <tr>
           <th>Index</th>
           <th>Name</th>
           <th>Age</th>
           <th>Work</th>
           <th>City</th>
       
       
           
         </tr>
       
          
       
          @{
       
        if (ViewBag.ProfileListSession != null)
                                   {
                                          int index = 1;
                                          foreach (var user in users)
                                          {
                                                   <tr>
       
                                                 <td>@index</td>
                                                 <td>@user.Name</td>
                                                 <td>@user.Age</td>
                                                 <td>@user.Work</td>
                                                 <td>@user.City</td>
                                                 
                                                 </tr>
                                                 index++;
       
                                          }
                                   }
                           
       
                            else
                            {
                            <span>session is empty</span>
                            }
       
          }
        
       </table>
       
       
       
       
       
       
       </h1>
</div>